	body {
    background-color: #99FFCC;
}

#f1{
	background-color: #6699FF;

}

#f2{
	background-color: #CCFF99;
	overflow: auto;
 	height: 300px;
 	border: 3px groove blue;

}

.news {
 overflow: auto;
 height: 300px;
 border: 3px groove blue;
 background-color: #CCFF99;
}